.checkbox {
  appearance: none;
  margin: 0.3rem 0 0;
  cursor: pointer;

  display: grid;
  place-content: center;

  width: 1.35rem;
  height: 1.35rem;

  background: transparent;
  border: 2px solid var(--blue);
  border-radius: 50%;

  font: inherit;
  color: currentColor;
  transform: translateY(-0.075rem);
  transition: border-color 0.1s, background 0.1s;
}

.checkbox:focus {
  outline: 0;
  box-shadow: none;
}

.checkbox:hover {
  border-color: var(--blue-dark);
  background: rgba(var(--blue-dark-rgb), 0.2);
}

.checkbox:checked {
  border-color: var(--purple-dark);
  background: var(--purple-dark);
}

.checkbox:checked:hover {
  border-color: var(--purple);
  background: var(--purple);
}

.checkbox::before {
  content: '';
  width: 0.65rem;
  height: 0.65rem;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1rem 1rem var(--gray-100);

  background: var(--purple-dark);

  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.checkbox:checked::before {
  transform: scale(1);
}
