.wrapper {
  position: relative;

  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.background {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;

  z-index: -1;
  height: 12.5rem;
  background: var(--gray-700);
}

.container {
  width: 100%;
  max-width: 46rem;
  margin: auto;
}

.container > img {
  display: block;
  margin: 4rem auto 3.313rem;

  user-select: none;
  pointer-events: none;
}

.container > form {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.tasks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;

  margin-top: 4rem;
}

.tasksInfo {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  width: 100%;
}

.tasksCreated {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.tasksCreated h2 {
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.063rem;

  color: var(--blue);
}

.tasksDone {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.tasksDone h2 {
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.063rem;

  color: var(--purple);
}

.taskCounter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.125rem 0.5rem;
  gap: 0.625rem;

  min-width: 0rem;

  background: var(--gray-300);
  border-radius: 999px;

  font-weight: bold;
  font-size: 0.75rem;
  line-height: 0.938rem;

  color: var(--gray-200);
}

.tasksEmpty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4rem 1.5rem;

  width: 100%;

  border-top: 1px solid var(--gray-400);
  border-radius: 8px;

  color: var(--gray-300);
}

.tasksEmpty img {
  display: block;
  margin-bottom: 1rem;
}

.taskList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;

  width: 100%;
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 1rem;
  }

  .tasksEmpty {
    padding: 2rem 0;
  }
}
